html {
  background: url("https://cdn.shutterstock.com/shutterstock/videos/4852142/thumb/2.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


h1 {
  color: black;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-size: 40px;
  line-height: 76px;
  margin: 0;
  position: relative;
  text-align: center;
  top: 20%;
}
