
body {
  font-style: bold;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-weight: bold;
  background-color: white;
  color: white;
  font-size: 30px;
}

img {
  display: block;
  margin: auto;
  width: 55%;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 80px;

}

h1 {
  color: red;
  font-style: italic;
  font-weight: bold;
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
  font-size: 60px;
  line-height: 76px;
  margin: 0;
  position: relative;
  text-align: center;
  top: 20%;
}

h2 {
  color: red;
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
  font-weight: bold;
  font-style: italic;
  font-size: 50px;
  line-height: 76px;
  margin: 0;
  position: relative;
  text-align: center;
  top: 20%;p
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}

h3 {
  color: red;
  font-style: italic;
  font-weight: bold;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-size: 40px;
  line-height: 76px;
  margin: 0;
  position: relative;
  text-align: center;
  top: 20%;
}

p {
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 50px;
}



body {
  background-image: url("http://theanalogkid.net/nfl-tennessee-titans-wallpaper/10-HD-Tennessee-Titans-Wallpapers-HDWallSource-com-nfl-tennessee-titans-wallpaper-tennessee-titans-wallpaper-background-56016-57766-hd-wallpapers.jpeg");
  background-color: #cccccc;



}
